* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
}

.content{
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}
header{
   margin: 0;
    display: flex;
    width: 90%;
    height: 12vh;
    margin: auto;
    align-items: center;

}

.company-logo, .nav-links, .shopping-cart{
    display:flex;
    height: inherit;
    width:auto;
}
.company-logo{
    flex: 1;
    height: 100px;
    width: 50%;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style:normal;
    color: white;
    padding: 8px;
    text-decoration: none;
    justify-content: space-around;
}

.nav-list li{
    display: inline;
}

.shopping-cart{
    flex: 1;
    background-color: white; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.topnav{
    padding: 20px;
}

.black-shirt{
    border-style: solid;
    border-color: gray;   
    float: left; 
    padding: 20px;
    
}

.Title{
    font: bold;
    padding: 20px;
}

.SizeChoices {
    border: honeydew;
    background-color: white;
    padding: 14px 28px;
    font-size: 100px;
    cursor: pointer;
    display: inline-block;
  }
  

  
  .ExtraSmall{
      color: black;
      font-size: 16px;
      border-radius: 4px;
    }
    .Small{
      color: black;
      font-size: 16px;
      border-radius: 4px;
    }
  .Medium{
      color: black;
      font-size: 16px;
      border-radius: 4px;
    }
  .Large {
      color: black;
      font-size: 16px;
      border-radius: 4px;
    }
  .ExtraLarge {
      color: black;
      font-size: 16px;
      border-radius: 4px;
    }

    .AddToCart{
        padding: 20px;
        text-align: center;
    }
  
.white-shirt{
    
    float: left;

}

.blue-shirt{
  padding: 10px;
    float: left;
}