* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
}

.content{
    max-width: 1500px;
    text-align: center;
    margin: auto;
}
header{
    display: flex;
    width: 50%;
    height: 50px;
    margin:30px auto;
    /*height: 2vh;*/
    align-items: center;

}

.company-logo, .nav-links, .shoppingcart{
    display:flex;
    height: inherit;
    width:auto;
}
.company-logo{
    flex: 1;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2;
    list-style: none;
}

.nav-links{
    justify-content: space-around;
    list-style-type:none;
}

.nav-link{
    text-decoration: none;
    display: inline;
}

.shoppingcart{
    flex: 1;
}

